# https://EditorConfig.org

# Top-most EditorConfig file.
root = true

# Unix-style newlines with a newline ending every file.
[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Javascript
[*.js]
indent_size = 2
indent_style = space

# YAML
[*.yml]
indent_size = 2
indent_style = space

# Python
[*.py]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.txt]
end_of_line = crlf

# Specific files
[{package.json,.travis.yml}]
indent_size = 2
indent_style = space
