<button class="filter-button" data-filter="top-10">Top 10</button>
<button class="filter-button" data-filter="top-10-space-operas">Top 10 Space Operas</button>
<button class="filter-button" data-filter="action">Action</button>
<button class="filter-button" data-filter="comedy">Comedy</button>
<button class="filter-button" data-filter="romance-and-drama">Romance & Drama</button>
<button class="filter-button" data-filter="slice-of-life">Slice of Life</button>
<button class="filter-button" data-filter="isekai-virtual-reality">Isekai, Virtual Reality</button>
<button class="filter-button" data-filter="food">Food</button>
<button class="filter-button" data-filter="mysterious-supernatural-fantasy">Mysterious, Supernatural, Fantasy</button>
<button class="filter-button" data-filter="horror-and-thriller">Horror & Thriller</button>
<button class="filter-button" data-filter="mecha-space-sci-fi">Mecha, Space, Sci-Fi</button>
<button class="filter-button" data-filter="psychological">Psychological</button>
<button class="filter-button" data-filter="music">Music</button>
<button class="filter-button" data-filter="sports">Sports</button>
<button class="filter-button" data-filter="harem-and-ecchi">Harem & Ecchi</button>
<button class="filter-button" data-filter="movies-and-ovas">Movies & OVA's</button>
<button class="filter-button" data-filter="ghibli-movies">Ghibli Movies</button>
